@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zain:wght@200;300;400;700;800;900&display=swap");
/* Start Variables */
:root {
  --main-color: #be910c;
  --white-color: #ffffff;
  --black-color: #000000;
  --accent-color: #6c281c;
  --main-transition: all 0.3s ease-in;
  --bg-dark: #3a2205;
  --bg-light: rgb(248, 249, 250);
  --text-color: rgba(33, 37, 41, 0.75);
}
/* End Variables */

/* Start Global Styles */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Zain", sans-serif;
  overflow-x: hidden;
}
a {
  transition: color 0.3s ease;
  text-decoration: none;
}
/* End Global Styles */

/* Start Components */
.container-fluid {
  padding-left: 60px !important; /* Increase padding-left */
  padding-right: 60px !important; /* Increase padding-right */
}
.text-accent {
  color: var(--accent-color);
}
.section-padding {
  padding: 100px 0;
}
.section-title {
  font-weight: 600;
  font-size: 30px;
  color: var(--dark-color);
  margin-bottom: 2rem;
  margin-bottom: 50px;
}
.section-desc {
  font-size: 18px;
  font-weight: 400;
  color: var(--dark-color);
  margin-bottom: 1.5rem;
}
.btn {
  padding: 0.75rem 1.5rem;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  border: 1px solid var(--main-color) !important;
  box-shadow: none !important;
  transition: all 0.3s ease;
}
.btn-main {
  background-color: var(--main-color) !important;
  color: var(--white-color) !important;
}
.btn-main:hover {
  background-color: var(--white-color) !important;
  color: var(--main-color) !important;
}
.btn-secondary {
  background-color: var(--white-color) !important;
  color: var(--main-color) !important;
}
.btn-secondary:hover {
  background-color: var(--main-color) !important;
  color: var(--white-color) !important;
}
/* Form Component */
.form-label,
.form-control,
.form-check,
.form-select {
  font-size: 14px;
  outline: 0;
}
.form-control:focus,
.form-check:focus,
.form-select:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 0 0.25rem rgba(190, 145, 12, 0.25);
}
.form-check-input:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.form-check-input:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 0 0.25rem rgba(190, 145, 12, 0.25);
}
/* Swiper Component */
.swiper-pagination-bullet-active {
  background: var(--main-color);
}
@media (max-width: 768px) {
  .container-fluid {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .section-title {
    font-size: 20px;
  }
  .section-padding {
    padding: 50px 0;
  }
}
/* End Components */

/* Satrt Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-container {
  position: relative;
  width: 100px;
  height: 100px;
  animation: spin 2s infinite linear;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-color);
  border-radius: 50%;
}
.loading-container img {
  position: relative;
  width: 80px;
  z-index: 1031;
}
/* Spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* End Preloader */

/* topbar */
.topbar {
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: 20px;
}

/* Start Navbar */
.navbar {
  transition: background-color 0.3s;
  background-color: black;
  color: var(--white-color);
  height: 60px;
}
.navbar {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1030;
}
.navbar.default-background {
  background-color: var(--bg-dark);
}
.navbar.scrolled-background {
  background: linear-gradient(to bottom, #fef5ed, #ffffff);
}
.navbar .navbar-brand {
  height: 60px;
}
.navbar .navbar-brand img {
  height: 100%;
}
.navbar.default-background .dropdown-toggle {
  color: var(--white-color) !important;
  cursor: pointer;
}
.navbar.scrolled-background .dropdown-toggle {
  color: var(--main-color) !important;
  cursor: pointer;
}
.dropdown-menu {
  border-color: var(--main-color);
}
.dropdown-menu .dropdown-item {
  color: var(--main-color) !important;
  font-size: 14px !important;
}
.dropdown-menu .dropdown-item:active {
  background-color: #f8f9fa !important;
}
.navbar .offcanvas a,
.navbar-light .navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 400;
}
.navbar.default-background .offcanvas a,
.navbar-light .navbar-nav .nav-link {
  color: var(--white-color);
}
.navbar.default-background .offcanvas a:hover,
.navbar.default-background .offcanvas a.active {
  color: var(--main-color);
}
.navbar .offcanvas .btn-close {
  box-shadow: none;
  width: 0.5em;
  height: 0.5em;
}
.navbar .navbar-toggler {
  border-color: var(--white-color);
}
.navbar .navbar-toggler-icon {
  background-image: url("../images/white-toggler-icon.svg");
}
.navbar-toggler-icon {
  color: var(--white-color);
}
.navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width: 991px) {
  .navbar .offcanvas {
    background-color: var(--white-color) !important;
    padding: 1rem;
    transition: all 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.175);
    justify-content: start !important;
    align-items: start !important;
    margin-right: 0;
  }
  .navbar .offcanvas a,
  .navbar-light .navbar-nav .nav-link {
    color: var(--main-color) !important;
  }
  .navbar.default-background .dropdown-toggle {
    color: var(--main-color) !important;
    margin-bottom: 12px;
  }
  .dropdown-menu {
    width: 25%;
    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%);
  }
}
/* End Navbar */

/*  Start Home Section */
.home-section {
  background-image: url("../images/home-section.jpg");
  height: calc(100vh - 56px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}
.home-section .home-text {
  position: absolute;
  top: 25%;
}
.home-section .home-text h1 {
  font-size: 70px;
}
.home-section .home-text h2 {
  font-size: 50px;
}
.home-section .search-widget {
  position: absolute;
  width: 75%;
  top: 80%;
}
.home-section .search-widget .widget-menu {
  background-color: var(--bg-dark) !important;
}
.home-section .search-widget .search-container {
  background-color: var(--white-color);
  padding: 1rem !important;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
.home-section .search-widget .tab-content ul li {
  display: inline-block;
  vertical-align: middle;
  flex-grow: 1;
  box-shadow: rgba(0, 0, 0, 0.34) 0px -12px 15px -10px inset;
  width: 16.2% !important;
  border-left: 0px solid rgb(141, 220, 216);
}
.home-section .nav-tabs .nav-item .nav-link {
  color: var(--white-color);
  font-weight: 600;
}
.home-section .nav-tabs .nav-item .nav-link.active {
  color: var(--main-color);
}
.home-section .nav-tabs .form-check {
  font-size: 15px;
  font-weight: 500;
  padding-right: 0;
}
.home-section .nav-tabs .form-check:focus {
  box-shadow: none;
}
.home-section .nav-tabs .form-check label,
.home-section .nav-tabs .form-check input {
  cursor: pointer;
}
.home-section #roundTrip .form-check {
  padding-top: 0.5rem !important;
}
.home-section form .form-check {
  padding-top: 38px !important;
}
@media (max-width: 991px) {
  .home-section {
    height: auto;
  }
  .home-section .home-text {
    position: static;
    width: 100%;
    padding-top: 120px;
  }
  .home-section .home-text h1 {
    font-size: 40px;
  }
  .home-section .home-text h2 {
    font-size: 30px;
  }
  .home-section .search-widget {
    position: static;
    width: 100%;
    height: auto;
  }
}
/*  End Home Section */

/* Statr Features Section */
.features-section {
  margin-top: 250px;
  background-color: var(--bg-light);
}
.features-section .swiper-features {
  position: relative;
  height: 350px;
}
.slider-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features-section .swiper-button-next,
.features-section .swiper-button-prev {
  position: static !important;
  border-radius: 24px;
  border: 1px solid var(--main-color);
  width: 50px;
  height: 50px;
  background: transparent;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background: var(--white-color); /* Remove default background */
  color: var(--main-color) !important;
}
/* .features-section .swiper-button-next + .swiper-button-next::after {
  color: var(--main-color) !important;
} */
.features-section .swiper-button-next::after {
  content: "\f177"; /* FontAwesome left arrow */
  font-family: "Font Awesome 5 Free";
  font-weight: 600; /* Make sure to use the solid icon */
  font-size: 24px;
}
.features-section .swiper-button-prev::after {
  content: "\f178"; /* FontAwesome left arrow */
  font-family: "Font Awesome 5 Free";
  font-weight: 600; /* Make sure to use the solid icon */
  font-size: 24px;
}
.features-section .swiper-features .swiper-slide {
  max-height: 170px;
  width: 100%;
}
.features-section .swiper-features .swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 12px !important;
  transition: transform 0.4s ease-in-out;
}
.features-section .swiper-slide:hover img {
  transform: scale(1.05);
}
@media (max-width: 991px) {
  .features-section {
    margin-top: 0;
  }
}
/* End Features Section */

/* Start Tourist Destinations Section */
.tourist-destinations .nav-tabs {
  margin-bottom: 30px;
}
.tourist-destinations .nav-tabs .nav-link {
  border: none;
  position: relative;
  color: #333 !important;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  line-height: 1.42;
}
.tourist-destinations .nav-tabs .nav-link.active {
  border-bottom: 3px solid var(--main-color);
}
.tourist-destinations .card {
  height: 400px;
  overflow: hidden;
  position: relative;
}
.tourist-destinations .card-img-overlay {
  /* background: rgba(0, 0, 0, 0.5); */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5));
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.tourist-destinations .card .card-content {
  height: 150px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.tourist-destinations .card:hover .card-content {
  height: 215px;
}
.tourist-destinations .travel-line {
  position: absolute;
  width: 80px;
  top: 20px;
  right: 20px;
  z-index: 100;
}
/* End Tourist Destinations Section */

/* Start offers Section */
.offers-section {
  background-color: var(--bg-light);
}
.offers-section .offer-box {
  background-color: var(--white-color);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.offers-section .offer-box .card-body {
  flex-grow: 1;
}
.offers-section .offer-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0 0 0 / 20%);
}
.offers-section .offer-box .card-img-overlay {
  position: absolute;
  top: 10px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.85) 100%
  );
  transition: var(--main-transition);
  z-index: 100;
}
.offers-section .card-img-top button {
  color: var(--white-color);
  border: none !important;
}
.offers-section .card-img-top button:hover {
  color: var(--main-color);
}
.offers-section .card-img-top .top-bar {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 700;
}
.offers-section .card .fa-star {
  color: var(--main-color);
}
.offers-section .card p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 3em;
}
/* End offers Section */

/* Start best-fares Section */
.best-fares .swiper {
  height: 400px;
}
.best-fares .swiper-slide {
  height: 350px;
}
.best-fares .swiper-slide .card-img {
  height: 65%;
}
.best-fares .swiper-slide .card-img img {
  width: 100%;
  height: 100%;
}
.best-fares .swiper-slide .price-from {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: var(--main-color);
}
.best-fares .swiper-button-next,
.best-fares .swiper-button-prev {
  color: var(--main-color);
  /* left: 10px */
}
.best-fares .swiper-button-next::after {
  left: -10px;
}
/* End best-fares Section */

/* Start Reviews Section */
.reviews-section {
  background-color: var(--bg-light);
}
.reviews-section .swiper-reviews {
  cursor: grab;
  height: auto;
  height: 300px;
}
.reviews-section .swiper-reviews:active {
  cursor: grabbing;
}
.reviews-section .swiper-reviews .swiper-slide {
  height: 250px;
  overflow: hidden;
}
/* End Reviews Section */

/* Satrt contact-us Section */
.contact-us {
  background-image: url("../images/man-woman-are-looking-their-phones.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  display: flex;
}
.contact-us .contact-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.contact-us .container-fluid {
  color: var(--white-color);
  z-index: 100;
}
.contact-us .form-label,
.contact-us .form-control {
  font-size: 16px;
}
@media (max-width: 768px) {
  .contact-us .contact-content {
    width: 100% !important;
  }
  .contact-us .contact-img {
    width: 100% !important;
  }
}
/* End contact-us Section */

/* start Mobile App Section */
.mobile-app {
  display: flex;
  background-color: var(--bg-light);
  height: 600px;
}
.mobile-app ul li i {
  color: var(--main-color);
}
@media (max-width: 768px) {
  .mobile-app {
    height: auto;
  }
  .mobile-app .mobile-info {
    width: 100% !important;
  }
  .mobile-app .mobile-img {
    width: 100% !important;
  }
  .mobile-app .mobile-img img {
    width: 48%;
  }
}
/* End Mobile App Section */

/* Start first know Section */
.first-know {
  background-color: var(--main-color);
  color: var(--white-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-know .btn-secondary {
  font-size: 18px;
}
.first-know .btn-secondary:hover {
  border-color: var(--white-color) !important;
}
/* End first know Section */

/* Start footer Section */
footer {
  /* background: linear-gradient(180deg, #1a1a1a, #3a2d0c, #be910c); */
  /* background: linear-gradient(180deg, #4e2e07, var(--bg-dark), #be910c); */
  background-color: var(--bg-dark);
  color: var(--white-color);
}
footer h4 {
  margin-bottom: 20px;
  font-weight: 700;
  color: var(--main-color);
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  color: var(--white-color);
  font-size: 15px;
}
footer ul li a:hover {
  color: var(--main-color);
}
footer ul li a i {
  margin-left: 10px;
}
/* End Footer Section */

/* Start Copy Right */
.copyright {
  background-color: var(--bg-dark);
  color: var(--white-color);
  border-top: 1px solid var(--bg-light);
}
.footer-social ul li {
  margin-left: 10px;
}
.footer-social ul li a {
  color: var(--white-color);
}
.footer-social ul li a:hover {
  color: var(--main-color);
}
/* Start Copy Right */

/* Start whatsapp Mark */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 200;
}

.whatsapp-float img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/* End whatsapp Mark */

/* Start Search Page */

/* Start Search Form Section */
.search-form {
  background-color: var(--bg-light);
  padding-top: 100px;
  padding-bottom: 30px;
}
.search-form form,
.search-form .time-box {
  background-color: var(--white-color);
}
.search-form .time-box {
  height: 100%;
}
.search-form .time-box .form-switch {
  padding-right: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.search-form .time-box .form-check-input:focus {
  background-image: url("../images/switch-bg.svg");
}
.search-form .time-box .form-check-input:checked {
  background-image: url("../images/switch-bg-checked.svg");
}
.search-form .form-item {
  width: calc(100% / 6);
}
.search-form .form-item label {
  padding-right: 0.75rem;
}
/* End Search Form Section */

.search-with-filter {
  padding-bottom: 50px;
  background-color: var(--bg-light);
}
.search-with-filter .left-sidebar {
  background-color: var(--white-color);
}
.left-sidebar .filter-title {
  font-weight: 600;
  text-transform: capitalize;
  color: #000;
}
.left-sidebar .collapse-title {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  color: #000;
}
.left-sidebar .collapse-title::after {
  content: "-";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  padding: 5px 10px;
  background-color: #f9f9f9;
}
.left-sidebar .collapsed .collapse-title::after {
  content: "+" !important;
}
/* End Left Sidbar */

/* Start Results Search */
.results-search .flight-line-logo {
  width: 70px;
}
.results-search .flight-line-name {
  font-size: 18px;
  color: rgb(133, 151, 158);
  margin-left: 18px;
  margin-bottom: 0;
  text-align: center;
  margin: 0 20px;
}
.results-search .flight-line-name:first-child {
  color: rgb(58, 58, 58);
  font-weight: 600;
}
.results-search .airport-from h4,
.results-search .airport-to h4 {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: rgb(58, 58, 58);
  line-height: 25px;
}
.results-search .airport-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}
.results-search .airport-progress {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}
.results-search .fa-plane-departure,
.results-search .fa-plane-arrival {
  transform: scaleX(-1);
  color: var(--main-color);
}
.results-search .stop {
  display: flex;
  align-items: center;
  width: max-content;
}
.results-search .stop::before,
.results-search .stop::after {
  content: "";
  width: 50px;
  border-top: 1px dashed #ccc;
  margin: 0 10px;
}
.results-search .fa-plane-departure {
  display: inline-block;
}
.results-search .accordion-button {
  border: 0;
  margin-top: 1px solid var(--bg-light);
  background-color: white !important;
}
.results-search .accordion-button:focus {
  box-shadow: none;
}
.results-search .accordion-button::after {
  margin-left: 0px;
}
@media (max-width: 768px) {
  .search-form .form-item {
    width: 100%;
  }
  .collapse {
    opacity: 0;
    height: 0;
    transition: opacity 0.25s ease, height 0.25s ease;
  }

  .collapse.show {
    opacity: 1;
    height: auto;
  }

  .fade {
    opacity: 0; /* Initially hidden with fade */
    transition: opacity 0.5s ease; /* Transition effect */
  }
}
/* End Results Search */
/* End Search Page */

/* Satrt Booking Page */
.booking {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Alert */
.booking .alert {
  margin-bottom: 1.5rem !important;
}
.booking .alert .fa-exclamation {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: rgb(255, 141, 25);
  color: var(--white-color);
  border-radius: 50%;
}
.booking .alert h4 {
  font-size: 16px;
  color: rgb(255, 141, 25);
  margin-bottom: 0;
}
.booking .alert p {
  font-size: 14px;
  margin-bottom: 0;
}

/* Booking Summary */
.booking .booking-summary .leave {
  font-size: 16px;
  font-weight: 700;
  color: rgb(51, 51, 51);
}
.booking .booking-summary .booking-date {
  font-size: 14px;
  font-weight: 400;
  color: rgb(133, 151, 158);
}
.booking-summary .summary-content .flight-line-logo {
  width: 30px;
  height: 30px;
}
.booking-summary .summary-content .airport-from h4,
.booking-summary .summary-content .airport-to h4 {
  font-size: 16px !important;
  margin-bottom: 0;
}
.booking-summary .summary-content .flight-time {
  font-size: 14px;
  font-weight: 400;
}
.booking-summary .summary-content .stop::before,
.booking-summary .summary-content .stop::after {
  width: 30px;
}
.booking .booking-summary .summary-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 400;
  color: rgb(133, 151, 158);
}
.popover {
  background-color: var(--bg-dark);
  --bs-popover-arrow-color: transparent; /* Remove the default arrow color */
  --bs-popover-bg: var(--bg-dark); /* Background color of the popover */
}
.popover .bags {
  color: var(--white-color);
  border-color: var(--white-color);
}
.popover .bags ul li {
  font-size: 12px;
}
.booking .hr {
  display: block;
  border-top: 1px dashed #ccc;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Price Details */
.booking .price-details h4 {
  font-size: 18px;
  font-weight: 600;
  color: rgb(58, 58, 58);
}
@media (max-width: 768px) {
  .booking form {
    width: 100% !important;
  }
}
/* End Booking Page */

/* Start Privacy Policy Page */
.privacy-policy-header {
  background-image: url("../images/about-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 60px;
  height: 400px;
  position: relative;
}
.header-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.header-content h1 {
  font-size: 70px;
  margin-bottom: 10px;
  color: var(--white-color);
}
.breadcrumb {
  font-size: 20px;
}
.breadcrumb .breadcrumb-item {
  color: var(--main-color);
}
.breadcrumb .breadcrumb-item a {
  color: var(--white-color);
}
.breadcrumb-item + .breadcrumb-item::before {
  color: var(--white-color);
}
.page-privacy-policy .accordion-button::after {
  margin-left: 0;
}
.page-privacy-policy .accordion-button {
  background-color: var(--bg-light);
}
.page-privacy-policy .accordion-button:not(.collapsed) {
  background-color: var(--bg-dark);
  color: var(--white-color);
}
.page-privacy-policy .accordion-button:not(.collapsed)::after {
  background-image: url("../images/chevron-down-solid.svg");
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-item .accordion-body {
  color: var(--text-color);
}
/* End Privacy Policy Page */

/* Start Alshrwt Walahkam Page */
.alshrwt-walahkam-header {
  background-image: url("../images/banner-terms.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 60px;
  height: 400px;
  position: relative;
}
/* End Alshrwt Walahkam Page */
